<div class="container">
  <div>
    <%= @card.question%>
  </div>
  
  <div>
    <form method="post">
      <input type="text" name="guess_id" value="<%=@guess.id%>">
      <input type="text" placeholder="Your answer please" name="attempt">
      <button type="submit">Guess!</button>
    </form>
  </div>
</div>
