<div class="container">
  <br>
  <div>
    <%= @card.question%>
  </div>
  <br>
  <div>
    <form id="guess" method="post">
      <input type="hidden" name="guess_id" value="<%=@guess.id%>">
      <input type="text" placeholder="Your answer please" name="attempt">
      <button type="submit">Guess!</button>
    </form>
  </div>
</div>
