<div class="container">
  <h1>Welcome <%= current_user.name %>!</h1>
  <h3>Please select a deck</h3>
</div>

<% current_user.decks.each do |deck| %>
  <div class="container">
  <h2><a href="/deck/<%=deck.id%>"><%=deck.name%></a></h2>
  </div>
<% end %>

<a href="/logout">Log out</a>
