<div class="container">
  <h1>Welcome <%= current_user.name %>!</h1>
  <h3>Please select a deck</h3>
</div>

<% current_user.decks.each do |deck| %>
  <div class="container">
  <h2>
    <form action="/rounds/new?deck_id=<%=deck.id%>" method="post">
      <!-- <a href="/rounds/new?deck=<%=deck.id%>"></a></h2> -->
      <button type="submit"><%=deck.name%></button>
    </form>
  </div>
<% end %>

<a href="/logout">Log out</a>
