<div class="container">
<h2><center><em>Dude... like, what are you talking about?</em></center></h2>
<center><img src='http://3.bp.blogspot.com/-KwuJx-MDe5Q/T-ykd0BZvKI/AAAAAAAAAi0/7hWXb7F4Uew/s1600/The%2BDude.jpg' width=500 height=360></center>
</div>
