<div class="container">
<h1>Welcome to Flashcards on the Web!</h1>
<h2><a href="/register">Sign Up</a></h2>
</div>
<div class="container">
<h2>Login</h2>
<%="<h3>#{@message}</h3>" if @message %>
<form id="login" method="post" action="/login">
  Email <input type="text" name="email" placeholder="thedude@lebowski.com"><br><br>
  Password <input type="password" name="password" placeholder="********"><br><br>
  <input id="submit" type="submit" value="Login" name="submit">
</form>
</div>
