<head>
<style>
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}
th {
  text-align: left;
}
</style>
</head>


<div class="container">
  <h2>Register</h2>
  <form method="post" action="/login">
  Name<input type="name" name="name"><br>
  Email<input type="text" name="email"><br>
  Password<input type="password" name="password"><br>
  <input type="submit" value="submit" name="submit">
  </form>
</div>
