<div class="container">
  <h2>Register</h2>
  <%= "<h4>'@message'</h4>" if @message %>
  <form method="post" action="/login">
  Name<input type="name" name="name" placeholder="Abe Lincoln"><br>
  Email<input type="text" name="email" placeholder="abe@myspace.com"><br>
  Password<input type="password" name="password" placeholder="*******"><br>
  <input type="submit" value="Register" name="submit">
  </form>
</div>
